{% extends "commerce-admin-orders/_layouts/modal" %}
{% import "_includes/forms" as forms %}

{% block actionButton %}
	{% if fullPageForm %}

		<a href="/admin/commerce-admin-orders/orders/address?orderNumber={{ order.number }}" class="btn" style="margin-right:7px">{{ 'Cancel'|t('app') }}</a>

		<input type="submit" class="btn submit" value="{{ 'Continue'|t('app') }}">

	{% endif %}
{% endblock %}

{% block content %}


<input type="hidden" name="action" value="commerce-admin-orders/orders/save-address">
<input type="hidden" name="orderNumber" value="{{ order.number }}">
{{ redirectInput('/admin/commerce-admin-orders/orders/address?orderNumber={number}') }}

<div class="flex" style="align-items: flex-start;">
	<div class="flex-grow">
		{{ forms.textField({
			id: 'firstname',
			name: type~'[firstName]',
			label: 'Firstname',
			required: true,
			value: model.firstName ?? null,
			errors: model.getErrors('firstName'),
		}) }}
		{{ forms.textField({
			id: 'lastname',
			name: type~'[lastName]',
			label: 'Lastname',
			required: true,
			value: model.lastName ?? null,
			errors: model.getErrors('lastName'),
		}) }}
		{{ forms.textField({
			id: 'business',
			name: type~'[businessName]',
			label: 'Business Name',
			required: false,
			value: model.businessName ?? null,
			errors: model.getErrors('businessName'),
		}) }}
		{{ forms.textField({
			id: 'businessTaxId',
			name: type~'[businessTaxId]',
			label: 'Business Tax Number',
			required: false,
			value: model.businessTaxId ?? null,
			errors: model.getErrors('businessTaxId'),
		}) }}
		{{ forms.textField({
			id: 'phone',
			name: type~'[phone]',
			label: 'Phone',
			required: false,
			value: model.phone ?? null,
			errors: model.getErrors('phone'),
		}) }}
	</div>
	<div class="flex-grow">
		{{ forms.textField({
			id: 'address1',
			name: type~'[address1]',
			label: 'Address Line 1',
			required: true,
			value: model.address1 ?? null,
			errors: model.getErrors('address1'),
		}) }}
		{{ forms.textField({
			id: 'address2',
			name: type~'[address2]',
			label: 'Address Line 2',
			required: false,
			value: model.address2 ?? null,
			errors: model.getErrors('address2'),
		}) }}
		{{ forms.textField({
			id: 'city',
			name: type~'[city]',
			label: 'City',
			required: true,
			value: model.city ?? null,
			errors: model.getErrors('city'),
		}) }}
		 {{ forms.selectField({
            label: 'State'|t('commerce'),
            id: 'stateValue',
            name: 'stateValue',
            value: model.stateValue,
            errors: model.getErrors('stateValue'),
            class: 'selectize fullwidth'
        }) }}
		{{ forms.textField({
			id: 'zipcode',
			name: type~'[zipCode]',
			label: 'Zip Code',
			required: true,
			value: model.zipCode ?? null,
			errors: model.getErrors('zipCode'),
		}) }}
		{{ forms.selectField({
			id: 'country',
			name: type~'[countryId]',
			label: 'Country',
			required: true,
			options: craft.commerce.countries.allCountriesAsList,
			value: model.country ?? null,
			errors: model.getErrors('country'),
		}) }}
	</div>
</div>

 {% js %}
        window.states = {{ craft.commerce.states.allStates|values|json_encode|raw }};

        // add any custom state value that could not be in the standard list of states.
        window.states.push({'name': '{{ model.stateValue }}', 'id': '{{ model.stateValue }}'});

        $('#stateValue-field').find('select').selectize({
            valueField: 'id',
            create: true,
            items: ['{{ model.stateValue }}'],
            options: window.states,
            labelField: 'name',
            searchField: ['name'],
            dropdownParent: 'body',
            inputClass: 'selectize-input text',
            allowEmptyOption: false
        });
    {% endjs %}

{% endblock %}

{% do view.registerAssetBundle("craft\\commerce\\web\\assets\\commercecp\\CommerceCpAsset") %}