{% extends "commerce-admin-orders/_layouts/modal" %}
{% import "_includes/forms" as forms %}

{% set continue = (cpUrl()~'/commerce-admin-orders/orders/summary?orderNumber={number}')|hash %}

{% block content %}


<input type="hidden" name="action" value="commerce-admin-orders/orders/update-address">
<input type="hidden" name="orderNumber" value="{{ order.number }}">
{{ redirectInput(cpUrl()~'/commerce-admin-orders/orders/address?orderNumber={number}') }}

{% set addresses = order.customer.addresses %}

{# shipping address #}
{# pick from list #}
{# or add new => new page, return here #}
<div class="flex" id="addresses">

	<div id="shippingPane" class="pane flex-grow">

		<h3>Shipping Address</h3> 

		<p class="light">
		{% if order.shippingAddress %}
			{{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}<br>
			{{ order.shippingAddress.businessName ? (order.shippingAddress.businessName~'<br>')|raw }}
			{{ order.shippingAddress.businessTaxId ? (order.shippingAddress.businessTaxId~'<br>')|raw }}
			{{ order.shippingAddress.address1 }}<br>
			{{ order.shippingAddress.address2 ? (order.shippingAddress.address2~'<br>')|raw }}
			{{ order.shippingAddress.city }}<br>
			{{ order.shippingAddress.zipCode }}<br>
			{{ order.shippingAddress.state ? (order.shippingAddress.state~'<br>')|raw }}
			{{ order.shippingAddress.country }}
		{% else %}
			No address selected
		{% endif %}
		</p>

		<div class="footer">
            {# <a class="btn" id="make-payment" data-order-id="901">Make Payment</a> #}
			<div class="select">
				<select name="shippingAddressSelect">
					<option value="" disabled selected>Select Existing or Add New Address</option>
					{% for address in addresses %}
						<option value="{{ address.id }}">{{ address.firstName }} {{ address.lastName }}, {{ address.address1 }}, {{ address.zipCode }}</option> 
					{% endfor %}
					<option value="0">Add New Address</option>
				<select>
			</div>
			{# <a href="/commerce-admin-orders/orders/address/new?type=shipping&amp;orderNumber={{ order.number }}" class="submit btn">Add New Address</a> #}
        </div>
    
	</div>

	<div id="billingPane" class="pane flex-grow" style="margin-bottom: 14px!important; margin-top: 0;">
		
		<h3>Billing Address</h3>

				<p class="light">
				{% if order.billingAddress %}
					{{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}<br>
					{{ order.billingAddress.businessName ? (order.billingAddress.businessName~'<br>')|raw }}
					{{ order.billingAddress.businessTaxId ? (order.billingAddress.businessTaxId~'<br>')|raw }}
					{{ order.billingAddress.address1 }}<br>
					{{ order.billingAddress.address2 ? (order.billingAddress.address2~'<br>')|raw }}
					{{ order.billingAddress.city }}<br>
					{{ order.billingAddress.zipCode }}<br>
					{{ order.billingAddress.state ? (order.billingAddress.state~'<br>')|raw }}
					{{ order.billingAddress.country }}
				{% else %}
					No address selected
				{% endif %}
				</p>
		

			<div class="footer">
				{# <a class="btn" id="make-payment" data-order-id="901">Make Payment</a> #}
				<div class="select">
				<select name="billingAddressSelect">
					<option value="" disabled selected>Select Existing or Add New Address</option>
				{% for address in addresses %}
					<option value="{{ address.id }}">{{ address.firstName }} {{ address.lastName }}, {{ address.address1 }}, {{ address.zipCode }}</option> 
				{% endfor %}
					<option value="0">Add New Address</option>
				<select>
				</div>
			</div>
		
	</div>
</div>

{% if order.shippingAddress %}
	<div class="flex" id="summary">
		
		<div class="flex-grow">
			{% if order.availableShippingMethods|length %}
				<div class="pane">
					<h3>Shipping Method</h3>
					<div class="select">
						<select name="shippingMethodHandle" id="shippingMethod">
							<option value="" disabled  {% if order.shippingMethodHandle is empty %} {% endif %}>Please select a shippng method</option>
							{% for handle, method in order.availableShippingMethods	 %}
								<option value="{{ handle }}" {{ handle == order.shippingMethodHandle ? "selected" : loop.first ? "selected" : '' }}>{{ method.name}} {{ method.priceForOrder(order) ? method.priceForOrder(order)|currency(order.currency) : 'Free' }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			{% endif %}
		</div>
		
		<div class="flex-grow">
			<div class="pane">
				<h3>Shipping Options</h3>
				{% hook 'cp.commerce.admin-orders.shipping-options' %}
			</div>
			
			{% hook 'cp.commerce.admin-orders.shipping-extras' %}
		</div>

	</div>
{% endif %}


{% js %}
	var $form = $('#main-form'),
		$headerBtn = $form.find('#header .submit');

	$form.on('click','#header .submit',function(e) {
		if($(this).hasClass('disabled')) {
			e.preventDefault();
		}
	})

	$('select').on('change', function(e) {
		$headerBtn.addClass('disabled');
		$(this).parents('form').submit();
	});
	
	$headerBtn.on('click', function(e){
		e.preventDefault();

		$(this).parents('form').find('[name="redirect"]').val($(this).attr('href'));
		$(this).parents('form').submit();
		
	})

{% endjs %}
{% endblock %}

{% do view.registerAssetBundle("craft\\commerce\\web\\assets\\commercecp\\CommerceCpAsset") %}