{% extends "commerce-admin-orders/_layouts/modal" %}
{% import "_includes/forms" as forms %}

{% set elementType = 'kuriousagency\\commerce\\adminorders\\elements\\AdminVariant' %}
{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set context = 'index' %}

{% set sources = craft.app.elementIndexes.getSources(elementType, 'index') %}

{% block actionButton %}
	{% if fullPageForm %}
		<a href="/admin/commerce-admin-orders/orders/address?orderNumber={{ order.number }}" class="btn submit {{ order.lineItems|length ? "" : 'disabled' }}">{{ 'Continue'|t('app') }}</a>
	{% endif %}
{% endblock %}

{% block content %}

	<div class="sidebar hidden">
		<nav>
			{% include "_elements/sources" %}
		</nav>
	</div>

	<h2>Products</h2>
	<div class="products elementindex pane" id="admin-variants">
		{% include "_elements/indexcontainer" with {
			showSiteMenu: false
		} %}
	</div>

	<div id="orderDetailsTab">
		
			<h2>Cart</h2>
			<div class="order-details pane">
				{% if order.lineItems | length or order.totalPrice > 0 %}
					<table id="" class="data fullwidth collapsible">
						<thead>
						<tr>
							<th scope="col">{{ 'Item'|t('commerce') }}</th>
							<th scope="col">{{ 'Note'|t('commerce') }}</span></th>
							<th scope="col">{{ 'Price'|t('commerce') }}</span></th>
							<th scope="col">{{ 'Quantity'|t('commerce') }}</th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col" class="thin"></th>
							<th scope="col" class="thin"></th>
						</tr>
						</thead>
						<tbody>

						{% for lineItem in order.lineItems %}

							{% set info = [
								{ label: "Description", value: lineItem.description },
								{ label: "Tax Category", value: lineItem.taxCategory.name },
								{ label: "Shipping Category", value: lineItem.shippingCategory.name },
								{ label: "Price", value: lineItem.price|currency(order.currency) },
								{ label: "Sale Amount", value: lineItem.saleAmount|currency(order.currency) },
								{ label: "Sale Price", value: lineItem.salePrice|currency(order.currency) },
								{ label: "Quantity", value: lineItem.qty },
								{ label: "Sub-total", value: lineItem.subtotal|currency(order.currency) },
								{ label: "Total (with adjustments)", value: lineItem.total|currency(order.currency) },
							] %}

							<tr class="infoRow" data-id="{{ lineItem.id }}" data-info="{{ info|json_encode }}">
								<td data-title="{{ 'Item'|t('commerce') }}">
									{% if lineItem.purchasable %}
										{% if lineItem.purchasable.cpEditUrl %}
											<a class="purchasable-link"
											href="{{ lineItem.purchasable.cpEditUrl }}">{{ lineItem.description }}</a>
										{% else %}
											<span class="description">{{ lineItem.description }}</span>
										{% endif %}
									{% else %}
										<span class="description">{{ lineItem.description }}</span>
									{% endif %}
									<br><span class="code">{{ lineItem.sku }}</span>
									{% if lineItem.options|length %}
										<a class="fieldtoggle first last"
										data-target="info-{{ lineItem.id }}">{{ "Options"|t('commerce') }}</a>
										<span id="info-{{ lineItem.id }}"
											class="hidden">
										{% for key, option in lineItem.options %}
											{{ key|t('commerce') }}: {% if option is iterable %}
											<code>{{ option|json_encode|raw }}</code>{% else %}{{ option }}{% endif %}
										<br>
										{% endfor %}
											</span>
									{% endif %}
								</td>
								<td data-title="{{ 'Note'|t('commerce') }}">
									{% if lineItem.note %}{{ lineItem.note|nl2br }}{% endif %}
								</td>
								<td data-title="{{ 'Price'|t('commerce') }}">
									{{ lineItem.salePrice|currency(order.currency) }}
								</td>
								<td data-title="{{ 'Qty'|t('commerce') }}">
									<input type="number" name="lineItems[{{ lineItem.id }}][qty]" min="0" style="width:50px" value="{{ lineItem.qty }}" >
								</td>
								<td></td>
								<td data-title="{{ 'Sub-total'|t('commerce') }}">
									<span class="right">{{ lineItem.subtotal|currency(order.currency) }}</span>
								</td>
								<td class="thin">
										<span class="tableRowInfo" data-icon="info"
											href="#"></span>
								</td>
								<td class="thin"><a class="delete icon"
												data-id="{{ lineItem.id }}"
												title="{{ 'Delete'|t('commerce') }}"
												role="button"></a></td>
							</tr>
							{% for adjustment in lineItem.adjustments %}
								<tr>
									<td></td>
									<td>
										<strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br>{{ adjustment.name|title }}
										<span class="info"><strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br> {{ adjustment.description }}</span>
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<span class="right">{{ adjustment.amount|currency(order.currency) }}</span>
									</td>
									<td></td>
									<td></td>
								</tr>
							{% endfor %}
						{% endfor %}
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><strong>{{ "Items Total (with adjustments)" }}</strong></td>
							<td>
								<span class="right">{{ order.itemTotal|currency(order.currency) }}</span>
							</td>
							<td></td>
							<td></td>
						</tr>

						{% for adjustment in order.orderAdjustments %}
							<tr>
								<td>
									<strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br>{{ adjustment.name|title }}
									<span class="info"><strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br> {{ adjustment.description }}</span>
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<span class="right">{{ adjustment.amount|currency(order.currency) }}</span>
								</td>
								<td></td>
								<td></td>
							</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td>
								{% if order.isPaid and order.totalPrice > 0 %}
									<div class="paidLogo">
										<span>{{ 'PAID'|t('commerce') }}</div>
								{% endif %}
							</td>
							<td></td>
							<td></td>
							<td><h2>{{ "Total Price"|t('commerce') }}</h2></td>
							<td>
								<h2 class="right">{{ order.totalPrice|currency(order.currency) }}</h2>
							</td>
							<td></td>
							<td></td>
						</tr>
						</tbody>
					</table>
				{% else %}
					<p>There are no products in your cart</p>
				{% endif %}
			</div>
		
	</div>

	<br>
	<input type="hidden" name="action" value="commerce/cart/update-cart">
	<input type="hidden" name="orderNumber" value="{{ order.number }}">
	{{ redirectInput('/admin/commerce-admin-orders/orders/products?orderNumber='~order.number) }}

	<div class="flex {{ order.lineItems|length > 0 ? '' : 'hidden' }}" id="cartControls">
		
		<div class="flex-grow"></div>
		<input type="text" name="couponCode" class="text" value="{{ order.couponCode }}" placeholder="Coupon Code">
	
		{% set currencies = craft.commerce.paymentCurrencies.getAllPaymentCurrencies() %}
		{% if currencies|length > 1 %}
		<div class="select">
		<select name="paymentCurrency">
		{% for currency in currencies %}
			<option value="{{ currency.iso }}" {% if order.paymentCurrency == currency.iso %}selected{% endif %}>{{ currency.name }}</option> 
		{% endfor %}
		<select>
		</div>
		{% endif %}
		<input type="submit" class="btn submit" value="{{ 'Update'|t('app') }}">
		
	</div>

	{% js %}
		var $form = $('#main-form'),
			$atcBtn = $form.find('.atc'),
			$headerBtn = $form.find('#header .submit');
			
		$.each($('.tableRowInfo'), function () {
			new Craft.Commerce.TableRowAdditionalInfoIcon(this);
		});

		$form.on('click','#header .submit',function(e) {
			if($(this).hasClass('disabled')) {
				e.preventDefault();
			}
		})

		$form.on('click','.infoRow a.delete',function(e) {
			e.preventDefault();
			$('<input type="hidden" name="lineItems['+$(this).data('id')+'][remove]" value="1">').appendTo($form);
			$form.submit();
		})

		$form.on('click','.atc',function(e) {
			e.preventDefault();

			var $this = $(this);
				purchasableId = $this.attr('data-id'),
				qty = $form.find('[name="adminOrderQty['+purchasableId+']"]').val();

			$('.order-details').addClass('loading');

			if(qty > 0) {
				$.ajax({
					type: "POST",
					dataType: 'json',
					headers: {
						"X-CSRF-Token" : '{{ craft.app.request.csrfToken }}',
					},
					url: '',
					data: {
						'action' : 'commerce-admin-orders/orders/add-to-cart',
						'purchasableId': purchasableId,
						'adminOrderQty': qty,
						'number': '{{ order.number }}'
					},
					success: function(data) {
						$('.order-details').empty();
						$('.order-details').html(data.html);
						$('#cartControls').removeClass('hidden');
						$headerBtn.removeClass('disabled');
						$('.order-details').removeClass('loading');

						var notification = '<div class="notification notice">Product added to cart</div>';
						$('#notifications-wrapper #notifications').html(notification);
						$('#notifications-wrapper #notifications .notification').delay(2000).fadeOut(400);

						$.each($('.tableRowInfo'), function () {
							new Craft.Commerce.TableRowAdditionalInfoIcon(this);
						});
					}
				});
			}

			{# $('.order-details').removeClass('loading'); #}

		})

	{% endjs %}
	

{% endblock %}

{% block initJs %}

	Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
		context:        '{{ context }}',
		storageKey:     'elementindex.{{ elementType|e("js") }}',
		criteria:       Craft.defaultIndexCriteria
	});

{% endblock %}

{% js block('initJs') %}


{% do view.registerAssetBundle("craft\\commerce\\web\\assets\\commercecp\\CommerceCpAsset") %}