{% extends "commerce-admin-orders/_layouts/modal" %}
{% import "_includes/forms" as forms %}

{% block actionButton %}
	<input type="submit" class="btn submit disabled" value="{{ 'Continue'|t('app') }}" disabled>
{% endblock %}

{% block content %}

<p>Please select a user using one of the options below:</p>
<hr>

<input type="hidden" name="action" value="commerce-admin-orders/orders/update-user">
<input type="hidden" name="orderNumber" value="{{ order.number }}">
{{ redirectInput('/admin/commerce-admin-orders/orders/products?orderNumber={number}') }}

<div>
	<p><strong>Postcode/Zip Code Search</strong></p>
	<p>Search for an exisiting user by Postcode/Zip Code<p>
	<input type="text" class="text" name="zipCode" value="{{ zipCode is defined ? zipCode }}" placeholder="Zip Code">
	<input type="submit" class="btn submit" value="Search" id="zipCodeSearch">
</div>

{% if users is defined %}
	<hr>
	{% if  users|length %}
	
	<table class="data fullwidth collapsible">
		<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col">Address</th>
			<th scope="col">City</th>
			<th scope="col">Postcode/Zip Code</th>
			<th scope="col"></th>
		</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.firstName ~ ' ' ~ user.lastName }}</td>
					<td>{{ user.email }} {{user.userId is null ? '(Guest)' : '' }}</td>
					<td>{{ user.address1 }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.zipCode }}</td>
					<td><input type="submit" class="btn submit" value="Select" data-type="user-select" data-id="{{ user.id }}"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type="hidden" name="orderId" value="">
	{% else %}
		<p>Sorry no users found</p>
	{% endif %}
{% endif %}

<hr>
<div>
	<p><strong>Guest Checkout</strong></p>
	<p>Enter the guest user's email address<p>
	<input type="email" class="text" name="email" id="guest-email" value="" placeholder="Guest Email">
</div>
<hr>

<p><strong>Existing User</strong></p>
<div class="flex" id="order-extras">	
	<div id="userPicker" class="elementselect">
		<div class="elements">
		</div>
		<div class="btn add icon dashed">Choose user</div>
	</div>	
</div>

{% js %}
var $form = $('#main-form'),
	$headerBtn = $form.find('#header .submit');

    new Craft.BaseElementSelectInput({
		id: 'userPicker',
		name: 'userId',
		elementType: 'craft\\elements\\User',
		sources: null,
		criteria: null,
		sourceElementId: null,
		viewMode: 'list',
		limit: 1,
		modalStorageKey: null,
		onSelectElements: function(e) {
			$headerBtn.prop('disabled',false).removeClass('disabled');
		},
		onRemoveElements: function(e) {
			$headerBtn.prop('disabled',true).addClass('disabled');
		}
	});

	$('#guest-email').on('keyup', function() {

		var valid = /^([\w-\.]+@([\w-]+\.)+[\w-]+)?$/.test(this.value);

		if(valid && (this.value != ''))  {
			$headerBtn.prop('disabled',false).removeClass('disabled');
		} else if(!$headerBtn.hasClass('disabled')) {
			$headerBtn.prop('disabled',true).addClass('disabled');
		}

	});

	$('#zipCodeSearch').on('click',function(e) {
		e.preventDefault();
		$('input[name=action]').val('commerce-admin-orders/orders/get-users-by-zip-code');
		$('#main-form').submit();
	})

	$('[data-type="user-select"]').on('click',function(e) {
		e.preventDefault();
		$('input[name=orderId]').val($(this).data('id'));
		$('#main-form').submit();
	})

{% endjs %}
{% endblock %}

{% do view.registerAssetBundle("craft\\commerce\\web\\assets\\commercecp\\CommerceCpAsset") %}