{% import "_includes/forms" as forms %}

	<div id="cartControls" class="flex ">
		<input type="hidden" name="orderNumber" value="{{ order.number }}">
		<input type="hidden" name="orderId" value="{{ order.id }}">

		<div class="flex-grow">
		{% if order.estimatedShippingAddressId is defined %}
			<input type="text" class="text" name="estimatedShippingAddress[zipCode]" value="{{ order.estimatedShippingAddress.zipCode ?? '' }}" placeholder="Zipcode">
			<div class="select">
				<select name="estimatedShippingAddress[countryId]">
				{% for value, country in craft.commerce.countries.allCountriesAsList %}
					<option value="{{ value }}" {{ value == (order.estimatedShippingAddress.countryId ?? null) ? 'selected' }}>{{ country }}</option>
				{% endfor %}
				</select>
			</div>
			<input type="submit" class="btn submit" value="{{ 'Update'|t('app') }}">
		{% endif %}
		</div>
		<input type="text" name="couponCode" class="text" value="{{ order.couponCode }}" placeholder="Coupon Code">
		{% if showCurrency is defined and showCurrency %}
		{% set currencies = craft.commerce.paymentCurrencies.getAllPaymentCurrencies() %}
		{% if currencies|length > 1 %}
		<div class="select">
		<select name="paymentCurrency">
		{% for currency in currencies %}
			<option value="{{ currency.iso }}" {% if order.paymentCurrency == currency.iso %}selected{% endif %}>{{ currency.name }}</option> 
		{% endfor %}
		<select>
		</div>
		{% endif %}
		{% endif %}
		<input type="submit" class="btn submit" value="{{ 'Update'|t('app') }}">
		
	</div>